[Unit]
Description=Weekly debian-offsec-bootstrap maintenance
Documentation=https://github.com/atoontoto/debian-offsec-bootstrap
ConditionPathExists=/usr/local/bin/offsec-update

[Service]
Type=oneshot
ExecStart=/usr/local/bin/offsec-update --non-interactive
Nice=10
IOSchedulingClass=idle
